{% load staticfiles %}
<html>
    <head>
        <title>Listado de Trabajadores - Planilla</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
	        <h1><a href="/">Listado de Trabajadores - Planilla</a></h1>
	    </div>

	    <!--{% for result in posts %}
	        <div>
	            <p>published: {{ post.published_date }}</p>
	            <h1><a href="">{{ post.title }}</a></h1>
	            <p>{{ post.text|linebreaks }}</p>
	        </div>
	    {% endfor %} -->

	  {{result}}

	    <!-- {% for names in names %}
            <div>
                <p>{{ names.idTrabajador }}</p>
                <h1>{{ names.Apellidos }}</h1>
                <p>{{ names.Nombres }}</p>
                <p>{{ names.Basico }}</p>
            </div>
        {% endfor %} -->

    </body>
    </html>